<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
	<typeAliases>
		<typeAlias alias="taskModel" type="com.free.hwt.quartz.model.TimerTaskModel" />
		<typeAlias alias="userModel" type="com.free.hwt.quartz.model.UserModel" />
		<typeAlias alias="organizationModel" type="com.free.hwt.quartz.model.OrganizationModel" />
	</typeAliases>

   <mappers>
   		<mapper resource="mybatis/TimerTask.xml"/>
   		<mapper resource="mybatis/User.xml"/>
   		<mapper resource="mybatis/Organization.xml"/>
   </mappers>
</configuration>
